.Results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  text-transform: capitalize;
  color: #ffebcd;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
