.pagination {
  width: 80%;
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-bottom: 20px;
}
.pageNumber {
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: chocolate;
  color: #213547;
  font-weight: bold;
  &.light {
    background-color: #238df0;
  }
}
