.SearchSection {
  width: 80%;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: burlywood;
}
.errorMessage {
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.details {
  width: 30%;
  margin-left: 10px;
  height: fit-content;
  min-height: 210px;
  border-radius: 5px;
}

.light {
  background-color: #ffebcd;
}

.dark {
  background-color: burlywood;
}

.resultsSection {
  width: 80%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
}
.detailsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 0;
  border-radius: 5px;
  background-color: chocolate;
  font-size: 22px;
}
