.header {
  color: chocolate;
  margin: 10px 0;
  h1 {
    font-size: 20px;
    text-align: center;
  }
}
.errorMessage {
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.details {
  width: 38%;
  height: fit-content;
  min-height: 210px;
  background-color: burlywood;
  border-radius: 5px;
}

.resultsSection {
  width: 80%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
}

.detailsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  padding: 5px 0;
  border-radius: 5px;
  background-color: chocolate;
  font-size: 22px;
}
