.SearchSection {
  width: 80%;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: burlywood;
}
.errorMessage {
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.loading {
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background-color: aqua;
}
