.SearchSection {
  width: 80%;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: burlywood;
}
.errorMessage {
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;  
}
.loading {
  padding: 30px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;  
}