.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}
.navLink {
  margin: 0 10px;
  font-size: 16px;
  color: beige;
  text-decoration: none;

  &:hover {
    color: chocolate;
  }

  &.active {
    color: chocolate;
  }
}
