.about {
  display: flex;
  width: 1000px;
  margin-top: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: beige;

  .name p,
  h2 {
    font-weight: 500;
    color: beige;
  }

  a {
    font-weight: 500;
    color: beige;
    text-decoration: none;
    transition: transform 0.2s ease-in-out;
    &:hover {
      color: beige;
      transform: scale(1.2);
    }
  }
}
