.Layout {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;

  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
}
.dark {
  background-color: rgb(18, 18, 22);
  background-image: url('../../assets/images/milkyWay.jpg');
}

.light {
  background-color: rgb(146, 201, 238);
  background-image: url('../../assets/images/light1.jpg');
  background-size: cover
}
