.Layout {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color, rgb(18, 18, 22));
  color: var(--text-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  .Main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding: 0;
    margin: 0;
  }
}
