.Layout {
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(18, 18, 22);
  background-image: url('../../assets/images/milkyWay.jpg');

  .main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
  }
}
