.errorMessage {
  padding: 20px 50px;
  background-color: rgb(206, 105, 110);
  border-radius: 5px;
  color: rgb(124, 34, 34);
  font-weight: bold;
  font-size: 20px;
}
.errorMessageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('../../assets/images/starWars.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
