.ResultsList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 5px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: chocolate;
  font-size: 22px;
}

.col1 {
  width: 30%;
  text-align: center;
  font-weight: bold;
}
.col2 {
  width: 70%;
  text-align: center;
  font-weight: bold;
}

.noResults {
  font-size: 24px;
  font-weight: bold;
  color: rgb(58, 54, 54);
  margin-top: 20px;
}
