.details {
  height: 100%;
  padding: 10px;
  background-color: burlywood;
  border-radius: 5px;
}

.resultsSection {
  width: 80%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
}

.detailsHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: chocolate;
  font-size: 22px;
  font-weight: bold;
  &.light {
    background-color: #238df0;
  }
}
.detailsContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}
.light {
  background-color: #ffebcd;
}
.closeBtn{
  margin-left: auto;
  padding: 5px;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition:
    color 0.5s ease;
  &:hover {
    color: chocolate;
  }
}

