.notFound {
  display: flex;
  width: 500px;
  margin-top: 10%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
}
